CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.venv/
.vscode/
.__pycache__/
.logs/
venv/
/log/
.log/*
/log.log
__pycache__/
/venv/
log/log.txt
cnpj.txt
banco.ini
config.json
temp/*.lock