Package                   Version
------------------------- ----------
altgraph                  0.17.3
autopep8                  2.0.2
certifi                   2023.11.17
charset-normalizer        3.3.2
dropbox                   11.36.2
fdb                       2.0.2
future                    0.18.3
idna                      3.6
mysql-connector-python    8.0.32
packaging                 23.2
pefile                    2023.2.7
pillow                    10.3.0
pip                       22.3
ply                       3.11
plyer                     2.1.0
protobuf                  3.20.3
psutil                    5.9.4
pycodestyle               2.10.0
pyinstaller               5.10.1
pyinstaller-hooks-contrib 2024.0
pypiwin32                 223
PyQt5-Qt5                 5.15.2
PyQt5-sip                 12.12.0
pytz                      2023.3
pywin32                   306
pywin32-ctypes            0.2.0
requests                  2.31.0
setuptools                65.5.0
six                       1.16.0
stone                     3.3.1
urllib3                   2.1.0
