altgraph==0.17.3
autopep8==2.0.2
bcrypt==4.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
fdb==2.0.2
future==0.18.3
idna==3.4
mysql-connector-python==8.0.32
numpy==1.24.3
pandas==2.0.1
paramiko==3.1.0
pefile==2023.2.7
plyer==2.1.0
protobuf==3.20.3
psutil==5.9.4
pycodestyle==2.10.0
pycparser==2.21
pyinstaller==5.10.1
PyNaCl==1.5.0
pypiwin32==223
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.0
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.0
requests==2.30.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.2
xlrd==2.0.1